.product-details{
    flex: 0 0 65%; 
}
.product-buy{
    flex: 0 0 35%;
    /* border: 2px solid; */
}
.product-buy div{
    flex: 0 0 33%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
